<!-- I am using this Calculations form to learn GET method-->

{% extends "base.html" %}

{% block content %}

<section class="form-section">
    <h2>Calculations</h2>

    <!--We are using action method to show the form data on required url. We can use this method with POST method also.-->
    <form method="get" action="{% url 'submitform' %}" class="form-box">
        

        <input type="text" name="name" placeholder="Number1" required>



        <input type="text" name="phone" placeholder="Number2" required>



        <button type="submit">Submit</button>
        
             Output
        <input type="text" value= "{{ output }}" />
    </form>

</section>

{% endblock %}