{% extends "base.html" %}
{% block content %}

<!-- HERO -->
<section class="banner parallax contact-banner">
    
    <div class="banner-overlay"></div>

    <div class="banner-content">
        <h2 class="fade-up">Contact Us!</h2>
        <p class="fade-up delay">We are always ready to help you!</p>
    </div>
</section>

<!-- CONTACT INFO + FORM -->
<section class="contact-container">

    <!-- LEFT SIDE INFO -->
    <div class="contact-info">

        
        <h2>Get In Touch</h2>
        <p>Have questions or need a service? Reach out to us anytime.</p>

        <p><strong>📧 Email:</strong> support@homeservice.com</p>
        <p><strong>📞 Phone:</strong> +880 123456789</p>
        <p><strong>📍 Address:</strong> Dhaka, Bangladesh</p>

        <div class="social">
            <p>Follow us:</p>
            <a href="#">Facebook</a> |
            <a href="#">LinkedIn</a> |
            <a href="#">Instagram</a>
        </div>
    </div>

    <!-- RIGHT SIDE FORM -->
    <div class="contact-form">
        <h2>Send Message</h2>

        <form method= "post" action = "{% url 'saveEnquiry' %}">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email"name="email" placeholder="Email Address" required>
            <input type="text" name="subject" placeholder="Subject">

            <select name = "service" required>
                <option>Select Service</option>
                <option>Cleaning</option>
                <option>Plumbing</option>
                <option>Electrical</option>
                <option>AC Repair</option>
            </select>

            <textarea name="message" placeholder="Your Message" rows="5"></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>

</section>

<!-- MAP -->
<section class="map">
    <h2>Our Location</h2>
    <iframe 
        src="https://maps.google.com/maps?q=dhaka&t=&z=13&ie=UTF8&iwloc=&output=embed"
        width="100%" height="300" style="border:0;">
    </iframe>
</section>

<!-- FAQ -->
<section class="faq">
    <h2>Frequently Asked Questions</h2>

    <div class="card">
        <h3>How do I book a service?</h3>
        <p>You can book directly from our website or contact us.</p>
    </div>

    <div class="card">
        <h3>Are your professionals verified?</h3>
        <p>Yes, all our professionals are trained and verified.</p>
    </div>

    <div class="card">
        <h3>Do you provide emergency service?</h3>
        <p>Yes, we provide urgent services depending on availability.</p>
    </div>
</section>

<!-- CTA -->
<section class="cta">
    <h2>Need Immediate Help?</h2>
    <button onclick="window.location.href='services.html'">Book Now</button>
</section>

{% endblock %}