{% extends "base.html" %}
{% block content %}

<marquee onmouseover="stop()" onmouseout="start()">
    {% for news in newsData %} 
    <a href="/news/{{news.id}}"> {{ news.news_title}}  </a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %} 
</marquee>

 
<section class="hero">
    <img src="/static/img/home.jpg" class="hero-img">

    <h2>Best Home Services in Your City</h2>
    <p>Book trusted professionals for cleaning, repair & more</p>

     <button> <a href="/services"> Explore Services </a></button>
</section>

<section class="categories">
    <h2>Popular Categories</h2>
    <div class="grid">
        <div class="card">Cleaning</div>
        <div class="card">Plumbing</div>
        <div class="card">Electrical</div>
        <div class="card">AC Repair</div>
        <div class="card">Painting</div>
        <div class="card">Appliance</div>
    </div>
</section>



<section class="how">
    <h2>How It Works</h2>
    <div class="steps">
        <div><h3>1</h3><p>Choose Service</p></div>
        <div><h3>2</h3><p>Book Time</p></div>
        <div><h3>3</h3><p>Done</p></div>
    </div>
</section>

<section class="featured">
    <h2>Featured</h2>
    <div class="grid">
        <div class="card">Home Cleaning</div>
        <div class="card">AC Repair</div>
        <div class="card">Electric Work</div>
    </div>
</section>

<section class="testimonials">
    <h2>Reviews</h2>
    <div class="grid">
        <div class="card">"Great service!"</div>
        <div class="card">"Fast & reliable"</div>
        <div class="card">"Highly recommended"</div>
    </div>
</section>

<section class="cta">
    <h2>Ready to Book?</h2>
    <button>Get Started</button>
</section>

{% endblock %}