{% extends "base.html" %}
{% block content %}

<!-- HERO -->
<section class="hero small-hero">
    <h2>Our Services</h2>
    <p>Explore a wide range of professional home services</p>
</section>



<!-- Search SERVICES -->
<section class="services">
    <div class="search-container">
        <form method="get" class="search-form">
            <div class="search-box">
                <input 
                    type="text" 
                    name="servicename" 
                    placeholder="Search services..." 
                    class="search-input"
                    value=" "
                />
                <button type="submit" class="search-btn">
                    <span>🔍</span> Search
                </button>
            </div>
        </form>
    </div>

<!-- SERVICES LIST -->
    <div class="grid">
        <h2>All Services</h2>
        {% for service in services %}
        <div class="card">
            <img src="{{ service.service_image.url }}" alt="">
            <h3>{{ service.name }}</h3>
            <p>{{ service.description | safe | lower | capfirst }}</p>
        </div>

        {% empty %}          <!-- empty used for if after searching no math than it shows the below message-->
        No Data Found.
        
        {% endfor %}
    </div>
</section>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    
    {% if services.has_previous %}      <!--services key has serviceDataFinal value which has some key and services.has_previous is one of them.It returns the paginate.-->
    <li class="page-item"><a class="page-link" href="/services/?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="/services/?page={{services.previous_page_number}}">Previous</a></li>
    {% endif %}

    {% for n in totalpagelist %}
    <li class="page-item"><a class="page-link" href="/services/?page={{n}}">{{n}}</a></li>
    {% endfor %}

    {% if services.has_next %}
    <li class="page-item"><a class="page-link" href="/services/?page={{services.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="/services/?page={{ lastpage }}">Last</a></li>
    {% endif %}
  </ul>
</nav>


<!-- PROCESS -->
<section class="how">
    <h2>How Our Service Works</h2>

    <div class="steps">
        <div>
            <h3>1. Select Service</h3>
            <p>Choose from our wide range of services.</p>
        </div>

        <div>
            <h3>2. Book Appointment</h3>
            <p>Select your preferred time and date.</p>
        </div>

        <div>
            <h3>3. Get Service</h3>
            <p>Our professional arrives at your doorstep.</p>
        </div>
    </div>
</section>

<!-- CTA -->
<section class="cta">
    <h2>Need Help at Home?</h2>
    <button onclick="window.location.href='contact.html'">Contact Us</button>
</section>

{% endblock %}